[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=OpenTerminalHere;
X-KDE-Priority=TopLevel
Icon=zashterminal

[Desktop Action OpenTerminalHere]
Icon=zashterminal
Name=Open in Zashterminal
Name[pt]=Abrir no Zashterminal
Name[es]=Abrir en Zashterminal
Name[bg]=Отвори в Zashterminal
Name[cs]=Otevřít v Zashterminal
Name[da]=Åbn i Zashterminal
Name[de]=In Zashterminal öffnen
Name[el]=Άνοιγμα στο Zashterminal
Name[et]=Ava Zashterminalis
Name[fi]=Avaa Zashterminalissa
Name[fr]=Ouvrir dans Zashterminal
Name[he]=פתח ב-Zashterminal
Name[hr]=Otvori u Zashterminalu
Name[hu]=Megnyitás Zashterminalban
Name[is]=Opna í Zashterminal
Name[it]=Apri in Zashterminal
Name[ja]=Zashterminalで開く
Name[ko]=Zashterminal에서 열기
Name[nl]=Openen in Zashterminal
Name[no]=Åpne i Zashterminal
Name[pl]=Otwórz w Zashterminal
Name[ro]=Deschide în Zashterminal
Name[ru]=Открыть в Zashterminal
Name[sk]=Otvoriť v Zashterminal
Name[sv]=Öppna i Zashterminal
Name[tr]=Zashterminal’de aç
Name[uk]=Відкрити в Zashterminal
Name[zh]=在 Zashterminal 中打开
Exec=zashterminal --working-directory %f
